@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
  font-family: 'Work Sans', sans-serif;
}

#emailLists {
  width: calc(100vw * 0.35);
  height: calc(100vh - 3rem);
}

#emailFolders {
  width: calc(100vw * 0.1);
  height: calc(100vh - 3rem);
}

#miniPreview {
  width: calc(100vw * 0.55);
  height: calc(100vh - 3rem);
}

.email-view a {
  text-decoration: underline;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
